/* Media quarry*/
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 767px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 991px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1199px)";

$main-color: #ffe500;
$p-color: #7777779e;
$head-color: #8d8b8b;
$section-padding: 80px;
$normalWidth: 100%;